body {
  background-color: rgba(240, 187, 137, 0.792);
}
h1 {
  color: rgb(85, 130, 168);
  text-align: center;
  margin-bottom: 100px;
}

p {
  text-align: center;
}

.bungee-shade-regular {
  font-family: 'Bungee Shade', sans-serif;
  font-weight: 400;
  font-style: normal;
}
